$form-bg: #fff;
$font-color: #686868;
$title-color: #282828;
$btn-bg: #E0431E;
$border-color: #EDEEF0;
$link-color: #E0431E;
$border-checked: #E0431E;
$vk-color: #597DA3;
$fb-color: #3B5998;
